# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Javascript/Node
node_modules/
frontend/dist/
frontend/node_modules/

# Installers
Installer/

# OS/IDE
.VSCode/
.idea/
.DS_Store
*.log
*.sqlite3

# PyInstaller
*.manifest
*.spec

# Pyenv
.python-version
